<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Operose.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Operose.Properties.Settings.ProdCon" connectionString="Data Source=DC1PRDSQL004;Initial Catalog=GPSTJ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Operose.Properties.Settings.DevCon" connectionString="Data Source=DC1TSTSQL006;Initial Catalog=GPSTJ;Integrated Security=True" />
    <add name="Operose.Properties.Settings.TestCon" connectionString="Data Source=DC1TSTSQL004;Initial Catalog=GPSTJ;Integrated Security=True" />
  </connectionStrings>
  <applicationSettings>
    <Operose.Properties.Settings>
      <setting name="DefaultFont" serializeAs="String">
        <value>Segoe UI, 9pt</value>
      </setting>
    </Operose.Properties.Settings>
  </applicationSettings>
</configuration>