<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Operose.Properties.Settings.ProdCon" connectionString="Data Source=TBLT-080\TBLT080;Initial Catalog=GPSTJ;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Operose.Properties.Settings.DevCon" connectionString="Data Source=TBLT-080\TBLT080;Initial Catalog=DYNAMICS;Integrated Security=True" />
    <add name="Operose.Properties.Settings.TestCon" connectionString="Data Source=TBLT-080\TBLT080;Initial Catalog=DYNAMICS;Integrated Security=True" />
  </connectionStrings>
</configuration>